@page
@model RazorPageDemoProject.Pages.Movies.IndexModel


@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-page="./LoginPage">Logout</a>
</p>

<h1>Index</h1>
@*<h3>Session : @Model.Username</h3>*@

<p>
    <a asp-page="./Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Club[0].Slot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club[0].EntryTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Club)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Slot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-success">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
